/* SliderVistos.module.css */
.sliderContainer {
    border-radius: 24px;
    border: 1px solid #4D5358;
    overflow: hidden; /* Certifique-se de ocultar o overflow para evitar que a borda extra seja visível */
  }
  
  .slide-container {
    width: 93px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px; /* Adicione um raio de borda se desejar cantos arredondados */
  }

  .slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center;
}

.slick-slider .slick-initialized {
    padding: 27px 0px 19px 46px;
}
.sliderContainer{
    padding: 27px 0px 19px 46px;

}